<nav class="mynav">

    <a class="navbar-brand" href="#">
      <img src="../../assets/img/vector-pizzeria-logo-template.webp" width="180" height="" class="d-inline-block align-top" alt="">
    </a>
  
  
    <div id="navbarNav">
      <ul class="navbar-nav ulmenu">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Inicio</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/preguntas">Contactanos</a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link" routerLink="/conocenos">Conocenos</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" routerLink="/login">Ingresar
          </a>
        </li>

      </ul>
    </div>
  </nav>
