.table{
    padding:25px 100px;
}
.bg-dark > th{
    color: rgb(228, 205, 59);
}
.form{
    padding:0 100px;
    background-color: rgb(233,187,25);   
    margin: 0 100px;
    border: 5px solid black;
    border-radius: 30px;
}
form{
    display: flex;
    flex-direction: column;
}
button{
    margin: 10px;
}