<div class="mydiv">
    <app-nav-main class="mainNav"> </app-nav-main>

    <div class="row">
        <div class="text">
            <h2>¿Quienes Somos?</h2>
            <p>
                Somos la cadena de restaurantes de entrega rápida más grande, exitosa e innovadora de México y para alcanzar el estándar de servicio necesario para lograrlo, mantenemos una estricta política de eficiencia y trato ético y honesto hacia nuestros clientes, proveedores, colaboradores, asociados y a la comunidad en general.
            </p>
            <p>
                Pizza Restaurant llegó a México en 1989, y a través de estos años ha logrado tener presencia en todo el país. Actualmente cuenta con más de 718 tiendas de las cuales, 433 son corporativas y 275 son franquicias, mediante los cuales atiende a más de 550,000 familias a la semana, con el apoyo de cerca de 10,000 colaboradores. Somos una empresa que trabaja con pasión y orgullo todos los días para ganarnos tu preferencia.
            </p>
        </div>
        <div class="div">
            <button (click)="speak()" class="playbutton">▶️</button>
            <button (click)="stop()" class="stopbutton">⏸️</button>
        </div>
    </div>

</div>

