<nav class="mynav">

    <a class="navbar-brand" href="#">
      <img src="../../assets/img/vector-pizzeria-logo-template.webp" width="180" height="" class="d-inline-block align-top" alt="">
    </a>
  
  
    <div id="navbarNav">
      <ul class="navbar-nav ulmenu">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/mainRoot">Bienvenido Administrador</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/listaUsuarios">Mostrar usuarios</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/listaPedidos">Mostrar pedidos</a>
        </li> -->
        <li class="nav-item">
            <a class="nav-link" routerLink="/grafica">Gráfico</a>
          </li>
        <li class="nav-item" >
          <a class="nav-link" (click)="salir()" routerLink="/login">Cerrar Sesion
          </a>
        </li>

      </ul>
    </div>
  </nav>
